<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>signup 화면</h1>
    <h1>Login 화면</h1>
    <form action="/member/signup" method="post">
        <ul>
            <li style="list-style : none">
                <label>아이디</label>
                <input type = "text" name = "id">
            </li>
            <li style="list-style : none">
                <label>패스워드</label>
                <input type="password"  name = "pass">
            </li>
            <li style="list-style : none">
                <label>이름</label>
                <input type="text"  name = "name">
            </li>
            <li style="list-style : none">
                <label>주소</label>
                <input type="text"  name = "address">
            </li>
            <li style="list-style : none">
                <button type="submit">SignUp</button>
                <button type="reset">Reset</button>
            </li>
        </ul>
    </form>
    <a href="/">홈으로</a>
</body>
</html>